<h2>Base</h2>

<h1>h1 Title</h1>
<h2>h2 Subtitle</h2>
<h3>h3 Subtitle</h3>
<h4>h4 Subtitle</h4>
<h5>h5 Subtitle</h5>
<h6>h6 Subtitle</h6>


<p>
    A specific kind of word play traditionally called paronomasia, or more currently called a paragram, changes one or more letters of a word or expression to create humor or irony or, Collins (2004) suggests, to achieve 'dramatic, critical--or bathetic--effect' (p. 129)
</p>

<h3>Link</h3>

<a class="app-a">Link 1</a> <a class="app-a">Link 2</a> <a class="app-a">Link 3</a>

<h3>Button</h3>

<button class="app-buton">Button</button>

<h3>Code</h3>

<code>const parmeter = 44;</code>    

<h3>Input</h3>

<input class="app-input" type="text">

<h2>Mixins</h2>

<h3>Shadows</h3>

<div class="shadow">Shadow mixin</div>

<h3>Card</h3>

<div class="card">Card mixin</div>
