<h2>Form</h2>

<app-button (click)="onPatchValue()">Patch Value</app-button>   
<app-button (click)="onToggleInline()">Toggle Inline</app-button>   

<form [formGroup]="form" novalidate autocomplete="off" (ngSubmit)="onSubmit()">
    <app-form-field label="input" [required]="true" 
    [isInline]="isInline"
    [control]="form.controls['input']"     
    [patternError]="regexErrors.numbers">
        <app-input formControlName="input"></app-input>
    </app-form-field>
    
</form>

<code>
    {{form.value | json}}
</code>
